@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

html {
  font-family: monospace;
  color: white;
  background-color: black;
  scroll-behavior: smooth;
}

.link {
  @apply font-semibold text-xl;
}

.link-bottom-border {
  @apply h-px w-full bg-transparent group-hover:bg-gradient-to-r from-purple-500 to-blue-500 group-hover:animate-in group-hover:fade-in;
}

.tooltip {
  @apply !z-10 !rounded-lg !bg-black !px-3 !py-2 !opacity-100 border border-gray-400;
}

@layer components {
  .text-link {
    @apply hover:underline text-blue-500;
  }
}
